<a href="https://colab.research.google.com/github/sujika123/demo/blob/main/Teachable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Print first n natural numbers
for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Print first n natural numbers in revers order
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#sum of all numbers from 1 to a given number
n=int(input("Enter a number:"))
s=0
for i in range(1,n+1,1):
  s=s+i
print(s)

Enter a number:11
66

In [ ]:
#multiplication table of a given number
n=int(input("Enter a number:"))
for i in range(1,11,1):
   p=i*n
   print(p)

Enter a number:8
8
16
24
32
40
48
56
64
72
80

In [ ]:
#multiplication table of a given number
n=int(input("Enter a number:"))
for i in range(1,11,1):
   print(n,'*', i ,'=', n*i)

Enter a number:6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
*#Display numbers from a list using loop
list=[1,9,55,22,78,23,5,89]
for i in range(0,8,1):
  print(list[i])

1
9
55
22
78
23
5
89

In [ ]:
#list in reverse order using a loop
list=[55,90,78,12,45,2,88,5,99]
for i in range(8,-1,-1):
  print(list[i])

99
5
88
2
45
12
78
90
55

In [ ]:
#total number of digits in a number
n=input("Enter the number")
count=0
for i in range(len(n)):
  count+=1
print(count)

Enter the number456327
6

In [ ]:
#numbers from -10 to -1 using for loop
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#Use else block to display a message “Done” after successful execution of for loop

In [ ]:
#Check prime number
n=int(input("Enter a number : "))
f=0
if(n==0)or(n==1):
  print("Not Prime number")
else:
  for i in range(2,n-1,1):
    if(n%i==0): 
      f=1
  if(f==0):
   print("Prime number")
  else:
   print("Not Prime number")

Enter a number : 83
Prime number

In [ ]:
#display all prime numbers within a range
r=int(input("Enter a range : "))
f=0
print("Prime Numbers")
for i in range(2,r+1,len(r)):
 if(i==0)or(i==1):
    f=1
 else:
  for j in range(2,i-1,1):
    if(i%j==0): 
      f=1
      
    if(f==0):
     print("i")

Enter a range : 9
Prime Numbers

7

In [ ]:
# Fibonacci series up to 10 terms
a=0
b=1

print(a)
print(b)
for c in range(0,10,1):
   c=a+b
   print(c)
   a=b
   b=c

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
#factorial of a given number
n=int(input("Enter a number:"))
fact=1
for i in range(1,n+1,1):
  fact=fact*i
print(fact)

Enter a number:5
120

In [ ]:
#Reverse a given integer number
n=int(input("Enter a number:"))
a=0
m=0
for n in range(n>0):
  a=n%10
  m=m*10+a
  n=n//10
print(+m)

Enter a number:765
0

In [ ]:
#Reverse a given integer number
n=int(input("Enter a number:"))
a=0
m=0
while n>0:
  a=n%10
  m=m*10+a
  n=n//10
print(+m)

Enter a number:5438
8345

In [ ]:
#Use a loop to display elements from a given list present at odd index positions
list=[23,89,95,99,45,32,5,12,77,18,20,64]
for i in range(0,12,1):
  if(i%2!=0):
    print(list[i])

89
99
32
12
18
64

In [ ]:
#cube of all numbers from 1 to a given number
n=int(input("Enter a number:"))
print("Cube of numbers")
for i in range(1,n+1,1):
  c=i*i*i
  print(c)

Enter a number:10
Cube of numbers
1
8
27
64
125
216
343
512
729
1000

In [ ]:
#sum of the series upto n terms

In [ ]:
#pyramid pattern
n=5
for i in range(0,n,1):
  for j in range(0,i+1,1):
    print("*",end=" ")
  print("\r") 
  #\r==new row,\n==newline

*
* *
* * *
* * * *
* * * * *

In [ ]:
#pyramid pattern
n=5
for i in range(0,n,1):
  for j in range(1,i+2,1):
    print(j,end=" ")
  print("\r")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Pyramid pattern
n=5
k = 2*n - 2
for i in range(0,n):
  for j in range(0,k):
    print(end=" ")
  k=k-2
  for j in range(0,i+1):
      print("* ",end="")
  print("\r")

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# Pyramid Pattern
n=5
k=n-1
for i in range(0,n):
  for j in range(0,k):
    print(end=" ")
  k=k-1
  for j in range(0,i+1):
    print("* ", end="")
  print("\r")

    *
   * *
  * * *
 * * * *
* * * * *